<?xml version="1.0" encoding="UTF-8" ?>
<?eclipse version="3.0"?>

<plugin>
       <extension point="org.eclipse.imp.runtime.languageDescription">
          <language extensions="spx" description="SpoofaxLang" language="SpoofaxLang" derivedFrom="DynamicRoot" validator="org.strategoxt.imp.editors.spoofax.SpoofaxLangValidator" validatorClass="org.strategoxt.imp.editors.spoofax.SpoofaxLangValidator"></language>
       </extension>
       <extension id="org.strategoxt.imp.editors.spoofax.parser" name="SpoofaxLang Parser" point="org.eclipse.imp.runtime.parser">
          <parser class="org.strategoxt.imp.editors.spoofax.SpoofaxLangParseController" language="SpoofaxLang">
          </parser>
       </extension>  
       
        <extension  point="org.eclipse.ui.views">
        	  <category  id="org.strategoxt.imp.editors.spoofax.category.views"  name="SpoofaxLang"> </category>
        	  <view
        	   		category="org.strategoxt.imp.editors.spoofax.category.views"
                class="org.strategoxt.imp.editors.spoofax.ui.views.SpxDependencyVisualizationView"
                id="org.strategoxt.imp.editors.spoofax.visualization.dependency.views.SpxDependencyVisualizationView"
                name="SpoofaxLang Package Dependencies"
                icon="icons/obj16/packages.gif"
                restorable="true">
        	 </view>
       </extension>  
    </plugin>