Configuration
	Includes
		RootDirectory
				test %% specify relative path of local source directories
		AllDirectories
				
	
		SpxProjects	
			%%Specify external reference projects
			%% e.g. c:/test
			../org.strategoxt.imp.editors.spoofax.configuration
	
	
	CodeGeneration 
		OutputDirectory		.shadowdir